extends ../layout

block content
  .container
    h1= title
    p Users on the system

    table.table.table-condensed.table-striped
      thead
        tr
          th Username
          th Firstname
          th Surname
          th
      tbody
